.book-category {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

@media (max-width: 1750px) {
  .book-category {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1100px) {
  .book-category {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 831px) {
  .book-category {
    grid-template-columns: 1fr;
  }
}
