.text-overlay {
  position: absolute;
  bottom: -100%;
  left: 50%;
  text-align: center;
  transition: opacity 5s ease-in-out; /* Adjust the transition properties as needed */
  transform: translateX(-50%);
  opacity: 1;
  animation: slideUp 1s ease forwards;

}
.text-overlay.show {
  opacity: 1;
}

@keyframes slideUp {
  0% {
    bottom: -1%;
  }

  25% {
    bottom: 5%;
    opacity: 0.1;

  }
  30% {
    bottom: 6%;
    opacity: 0.2;

  }
  35% {
    bottom: 7%;
    opacity: 0.3;

  }
  40% {
    bottom: 8%;
    opacity: 0.4;

  }

  50% {
    bottom: 10%;
    opacity: 0.5;

  }


  75% {
    bottom: 20%;
    opacity: 0.6;

  }

  100% {
    bottom: 30%;
    opacity: 1;

  }
}
