.filter-sidebar {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.hahaha {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-sidebar input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.filter-sidebar .checkmark {
  height: 20px;
  width: 20px;
  background-color: inherit;
  border: 1px solid #ededed;
  border-radius: 50%;
  cursor: pointer;
}

.label-sidebar {
  display: flex;
  gap: 20px;
  color: #232f55;
  font-size: 16px;
}

.label-sidebar:hover input ~ .checkmark {
  background-color: #ccc;
}
.label-sidebar input:checked ~ .checkmark {
  background-color: red;
}
